.swiper-button-next,
.swiper-button-prev {
  z-index: 100;

  @include wh(43px);

  &:hover {
    &::after {
      @include background(url("@img/icons/arrow-slider.svg"));
    }
  }
  &::after {
    @include pseudo;

    @include wh(9px, 16px);
    @include background(url("@img/icons/arrow-slider.svg"));
  }
}
.works {
  .swiper-button-next,
  .swiper-button-prev {
    top: 57%;

    &:hover {
      &::after {
        @include background(url("@img/icons/arrow-catalog.svg"));
      }
    }
    &::after {
      @include background(url("@img/icons/arrow-catalog.svg"));
    }
  }
}

.swiper-button-prev {
  left: -9%;
  @include media(max, 1380px) {
    left: 80%;
  }
  @include media (max, sm) {
    left: 60%;
  }
  &::after {
    transform: rotate(180deg);
  }
}

.swiper-button-next {
  right: -9%;
  @include media(max, 1380px) {
    right: 2%;
  }
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: -64px;
  left: 145px;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  &-active {
    opacity: 1;
  }
}

.swiper-control{
 
  @include media (max,1380px) {
    bottom: 0;
  }
}