.primeSwiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 100;

  @include wh(43px);

  &:hover {
    &::after {
      @include background(url("@img/icons/arrow-slider.svg"));
    }
  }
  &::after {
    @include pseudo;

    @include wh(9px, 16px);
    @include background(url("@img/icons/arrow-slider.svg"));
  }
}

.swiper-button-next {
  right: 50px;
  &::after {
    transform: rotate(180deg);
  }
  &:hover {
    &::after {
    }
  }
}

.swiper-button-prev {
  left: 50px;
  &:hover {
    &::after {
    }
  }
}

.swiper-button-disabled {
  &::after {
  }
}

.swiper-button-prev.swiper-button-disabled {
  &::after {
  }
}

.swiper-button-next.swiper-button-disabled {
  &::after {
  }
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  top: -64px;
  left: 145px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
}
.swiper-pagination-bullet {
  opacity: 0.5;
  &-active {
    opacity: 1;
  }
}
