.contacts-page {
	padding-top: 150px;
}
.contacts{
	&__border:after {
		@include pseudo;
		position: absolute;
		right: -1px;
		bottom: 100%;
		top: -4.05rem;
		width: 1px;
		background: var(--bs-border-color);
}
}