.promo {
	padding-top: 132px;
	.swiper-slide {
		padding-top: 236px;
	padding-bottom: 273px;
	}
	
}
.swiper {
}
.promoSwiper {
}
.swiper-button-prev {
}
.position-relative {
}
.end-0 {
}
.swiper-pagination {
}
.swiper-button-next {
}
.swiper-wrapper {
}

.container {
}
.row {
}
.rounded-3 {
}
.px-5 {
}
.col-12 {
}
.col-lg-7 {
}
.h1 {
}
.fs-64 {
}
.fw-700 {
}
.text-white {
}
.mb-4 {
}
.fs-20 {
}
.mb-5 {
}
.col-md-6 {
}
.col-lg-3 {
}
.btn {
}
.fw-500 {
}
.px-3 {
}
.py-3 {
}
.btn-primary {
}
.bg-gradient {
}
