.products,
.articles {
  padding-top: 150px;

  .page-prev,
  .page-next {
    @include wh(43px);
    &::after {
      @include background(url("@img/icons/arrow-catalog.svg"));
      @include pseudo;

      @include wh(9px, 16px);
    }
  }

  .page-prev {
    &::after {
      transform: rotate(180deg);
    }
  }
  .page-link {
    &:hover {
      position: relative;
      &::before {
        @include pseudo;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        border: 1px solid #5e2627;
      }
    }
  }
}
