.review {
  // .review__scroll
  &__scroll {
  }
  // .review__box
  &__box {
    &::before {
      @include pseudo;
      height: 1px;
	  position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      background-color: #d6d6d6;
    }
    &:last-child,
    &:nth-last-child(2){
      &::before {
        display: none;
      }
    }
  }
  // .review__rating
  &__rating {
    max-width: 120px;
  }
  p{
    margin-bottom: 0;
  }
}
.review {
  // .review__scroll
  &__scroll {
  }

  // .review__rating
  &__rating {
  }
}
.py-5 {
}
.bg-success {
}
.container {
}
.row {
}
.justify-content-end {
}
.mb-5 {
}
.overflow-hidden {
}
.title {
}
.position-relative {
}
.col-6 {
}
.col-md-3 {
}
.fs-16 {
}
.text-center {
}
.text-uppercase {
}
.border {
}
.border-secondary {
}
.py-2 {
}
.rounded-2 {
}
.mb-0 {
}
.fs-40 {
}
.ff-roboto {
}
.fw-700 {
}
.mb-4 {
}
.overflow-auto {
}
.py-4 {
}
.col-3 {
}
.offset-1 {
}
.d-flex {
}
.mb-3 {
}
.align-items-center {
}
.gap-3 {
}
.rounded-circle {
}
.w-100 {
}
.fs-20 {
}
.fw-600 {
}
.d-block {
}
.fs-14 {
}
.text-info {
}
.text-dark {
}
.col-8 {
}
