.review {
  // .review__scroll
  &__scroll {
    max-height: 515px;
  }
  .simplebar-track {
    left: 0;
    right: inherit;
  }
  .simplebar-scrollbar:before {
    background: #5e2627;
    height: 85px !important;
    width: 5px;
    border-radius: 32px;
    opacity: 1;
  }

  // .review__box
  &__box {
    &::before {
      @include pseudo;
      height: 1px;
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      background-color: #d6d6d6;
    }
    &:last-child,
    &:nth-last-child(2) {
      &::before {
        display: none;
      }
    }
  }
  // .review__rating
  &__rating {
    max-width: 120px;
  }
  p {
    margin-bottom: 0;
  }
}
