.steps {
  // .steps__item
  &__item {
    &::before {
      @include pseudo;
      width: 0;
      height: 0;
	  border-left: 27px solid transparent;
	  border-right: 27px solid transparent;
	  border-bottom: 19px solid #5E2627;
	  transform: rotate(90deg);
	  position: absolute;
	  right: -20px;
	  bottom: 24px;
  
    }
	&:last-child{
		&::before{
			display: none;
		}
	}
  }
  // .steps__num
  &__num {
    @include wh(43px);
  }
}
