.steps {
  // .steps__item
  &__item {
    &::before {
      @include pseudo;
      width: 0;
      height: 0;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;
      border-bottom: 14px solid #5e2627;
      transform: rotate(90deg);
      position: absolute;
      right: -22px;
      bottom: 27px;
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
  }
  // .steps__num
  &__num {
    @include wh(43px);
  }
}
