.header {
  position: fixed;
  z-index: 999;
  width: 100%;

  // .header__logo
  &__logo {
  }
  &__bottom {
  }
  // .header__menu
  &__menu {
    transition: all 0.2s ease-in-out;
    @include media(max, lg) {
      display: none;
    }
  }
}
